$marginBtn: 20px;

.article_cnt{
   margin: 50px;
   border-radius: 5px;
   padding: 50px;
   background-color: #f9f5e3;

   h2{
      margin-bottom: $marginBtn;
   }

   p{
      margin-bottom: $marginBtn;
   }

   .img_article{
      max-width: 400px;
   }
}
